body {
    margin: 0;
    padding: 0;
    text-align: center;
}
.logo {
    padding: 15px 50px;
    width: 200px;
    z-index: 1000;
}
header {
    background-color: transparent;
    height: 100px;
    text-align: left;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
nav {
    color:white;
    float: right;
    padding: 40px 50px 0px 0px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
}
nav li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 0px 0px 10px #000,
				  5px 5px 5px #000,
				  0px 0px 0 #000,
				  0px 0px 0 #000;
}
a:active {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
.parallax-home {
    width: 100%;
    height: 100vh;
    background: url('img/maunga_club_cabin.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-kakapo {
    width: 100%;
    height: 100vh;
    background: url('img/kakapo/cabin_exterior.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-pukeko {
    width: 100%;
    height: 100vh;
    background: url('img/pukeko/chalet_exterior.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-kereru {
    width: 100%;
    height: 100vh;
    background: url('img/kereru/cabin_exterior.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-book {
    width: 100%;
    height: 100vh;
    background: url('img/mountain_view_1.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-membership {
    width: 100%;
    height: 100vh;
    background: url('img/mountain_view_light.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-contact {
    width: 100%;
    height: 100vh;
    background: url('img/mountain_view_dark.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: 0;
    z-index: 950;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dots {
    width: 442.5px;
    margin: 0;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
h1 {
    font-size: 100px;
    font-weight: bold;
    color: white;
    margin: 0;
    text-shadow: 0px 0px 10px #000,
				  10px 5px 10px #000,
				  0px 0px 0 #000,
				  0px 0px 0 #000;
}          
h2 {
    color: white;
    font-size: 30px;
    margin: 0;
    text-shadow: 0px 0px 10px #000,
				  10px 5px 10px #000,
				  0px 0px 0 #000,
				  0px 0px 0 #000;   
}
#home-text {
    padding: 20%;
}
#kakapo-carousel,
#kakapo-text {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0px;
}
#pukeko-carousel,
#pukeko-text {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0px;
}
#kereru-carousel,
#kereru-text {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0px;
}
.button {
    color: white;
    font-size: 40px;    
    margin: 30px 5px;
    padding: 15px 15px;
    border: 3px solid white; 
    min-width: 150px; 
    text-decoration: none;
}
.slideshow-containerp {
    max-width: 500px;
    position: relative;
    margin: 0;
    z-index: 950;
}
.prevp, .nextp {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.nextp {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prevp {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.prevp:hover, .nextp:hover {
    background-color: rgba(0,0,0,0.8);
}
.numbertextp {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dotp {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dotsp {
    width: 442.5px;
    margin: 0;
}
.activep, .dotp:hover {
    background-color: #717171;
}
.fadep {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fadep {
    from {opacity: .4}
    to {opacity: 1}
}
.slideshow-containerk {
    max-width: 500px;
    position: relative;
    margin: 0;
    z-index: 950;
}
.prevk, .nextk {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.nextk {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prevk {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.prevk:hover, .nextk:hover {
    background-color: rgba(0,0,0,0.8);
}
.numbertextk {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dotk {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dotsk {
    width: 442.5px;
    margin: 0;
}
.activek, .dotk:hover {
    background-color: #717171;
}
.fadek {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
#kakapo-carousel {
    padding-top: 100px;
    padding-left: 50px;
    width: auto;
}
#kakapo-text {
    padding-top: 100px;
    padding-left: 50px;
    width: 900px;
}
#kakapo-title {
    padding-bottom: 30px;
}
#pukeko-carousel {
    padding-top: 100px;
    padding-left: 50px;
    width: auto;
}
#pukeko-text {
    padding-top: 100px;
    padding-left: 50px;
    width: 900px;
}
#pukeko-title {
    padding-bottom: 30px;
}
#kereru-carousel {
    padding-top: 100px;
    padding-left: 50px;
    width: auto;
}
#kereru-text {
    padding-top: 100px;
    padding-left: 50px;
    width: 900px;
}
#kereru-title {
    padding-bottom: 30px;
}
#contact-text {
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}
#membership-text {
    padding-top: 100px;
}
h3 {
    font-size: 90px;
    font-weight: bold;
    color: white;
    margin: 0;
    text-shadow: 0px 0px 10px #000,
				  10px 5px 10px #000,
				  0px 0px 0 #000,
				  0px 0px 0 #000;
}
#membership-title {
    padding-bottom: 30px;
}
#membership-small {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 70px;
}
.button-membership {
    color: rgb(141, 141, 141);
    font-size: 40px;    
    margin: 30px 5px;
    padding: 15px 15px;
    border: 3px solid rgb(141, 141, 141); 
    min-width: 150px; 
    text-decoration: none;
}
.slideshow-containerb {
    max-width: 500px;
    position: relative;
    margin: 0;
    z-index: 950;
}
.prevb, .nextb {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.nextb {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prevb {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.prevb:hover, .nextb:hover {
    background-color: rgba(0,0,0,0.8);
}
.numbertextb {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dotb {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dotsb {
    width: 442.5px;
    margin: 0;
}
.activeb, .dotb:hover {
    background-color: #717171;
}
.fadeb {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fadeb {
    from {opacity: .4}
    to {opacity: 1}
}.slideshow-containerpb {
    max-width: 500px;
    position: relative;
    margin: 0;
    z-index: 950;
}
.prevpbb, .nextpb {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.nextpb {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prevpb {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.prevpb:hover, .nextpb:hover {
    background-color: rgba(0,0,0,0.8);
}
.numbertextpb {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dotpb {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dotspb {
    width: 442.5px;
    margin: 0;
}
.activepb, .dotpb:hover {
    background-color: #717171;
}
.fadepb {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fadepb {
    from {opacity: .4}
    to {opacity: 1}
}
.slideshow-containerkb {
    max-width: 500px;
    position: relative;
    margin: 0;
    z-index: 950;
}
.prevkb, .nextkb {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.nextkb {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prevkb {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.prevkb:hover, .nextkb:hover {
    background-color: rgba(0,0,0,0.8);
}
.numbertextkb {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dotkb {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dotskb {
    width: 442.5px;
    margin: 0;
}
.activekb, .dotkb:hover {
    background-color: #717171;
}
.fadekb {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fadekb {
    from {opacity: .4}
    to {opacity: 1}
}
#book-kakapo,
#book-pukeko,
#book-kereru {
    width: 33%;
    float: left;
    box-sizing: border-box;
    padding: 0px;
}
#book-kakapo-carousel{

}
#book-pukeko-carousel {

}
#book-kereru-carousel {

}